.item {
  :not(:last-child) {
    margin-bottom: 15px;
  }

  padding: 15px 15px;

  display: flex;
  align-items: center;
  gap: 15px;

  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.status {
  display: block;
  width: 15px;
  height: 14px;
  border-radius: 50%;

  background-color: red;
}

.online {
  background-color: green;
}

/* .avatar {
}

.name {
} */
